---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
    <h1 align="center">Hi 👋, I'm pakchio</h1>
    <h3 align="center">A passionate frontend developer</h3>
    <h3>
        <!-- <a href="https://www.xiaoyuzhoufm.com/podcast/613753ef23c82a9a1ccfdf35"
            >Web Worker主播</a
        > -->
    </h3>
</BaseLayout>
